<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{BlogTitle}}</title>
    
    <link href="theme/bootstrap.min.css" rel="stylesheet">
    <link href="theme/blog.css" rel="stylesheet">
    <script src="theme/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="./">Home</a>
          {{#Links}}
          <a class="blog-nav-item" href="{{{Link}}}">{{Title}}</a>
          {{/Links}}
        </nav>
      </div>
    </div>
    
    <div class="container">
      
      <div class="blog-header">
        <h1 class="blog-title">{{BlogTitle}}</h1>
        <p class="lead blog-description">{{BlogDescription}}</p>
      </div>
      
      {{#Posts}}
      <div class="row">
        <div class="col-sm-12 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="posts/{{Slug}}">{{Title}}</a></h2>
            <p class="blog-post-meta">{{Date}}</p>
            <p>{{{Preview}}}</p>
            <p><a href="posts/{{Slug}}">...</a></p>
          </div>
        </div>
      </div>
      {{/Posts}}
      
      <ul class="pager">
        {{#HasPrevPage}}
        <li><a href="{{PrevPage}}">Newer Posts</a></li>
        {{/HasPrevPage}}
        
        {{#HasNextPage}}
        <li><a href="{{NextPage}}">Older Posts</a></li>
        {{/HasNextPage}}
      </ul>
      
    </div>
    
    <div class="blog-footer">
        <p>Built with PowerBlog</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </div>
    
    {{#GoogleAnalyticsID}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{GoogleAnalyticsID}}', 'auto');
      ga('send', 'pageview');
    </script>
    {{/GoogleAnalyticsID}}
  </body>
</html>