<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{PostTitle}}</title>
    
    <link href="../../theme/bootstrap.min.css" rel="stylesheet">
    <link href="../../theme/blog.css" rel="stylesheet">
    <script src="../../theme/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>
  
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="../../">Home</a>
          {{#Links}}
          <a class="blog-nav-item" href="{{{Link}}}">{{Title}}</a>
          {{/Links}}
        </nav>
      </div>
    </div>
    
    <div class="container">
      
      <div class="blog-header">
        <h1 class="blog-title">{{BlogTitle}}</h1>
        <p class="lead blog-description">{{BlogDescription}}</p>
      </div>
      
      <div class="row">
        <div class="col-sm-12 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{PostTitle}}</h2>
            <p class="blog-post-meta">{{PostDate}}</p>
            <p>{{{PostContent}}}</p>
          </div>
        </div>
      </div>
      
      {{#AllowComment}}
      {{#DisqusID}}
      <div class="row">
        <div class="col-sm-12">
        <div id="disqus_thread"></div>
          <script type="text/javascript">        
            var disqus_shortname = '{{DisqusID}}'; 

            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
      {{/DisqusID}}
      {{/AllowComment}}
    </div>
    
    <div class="blog-footer">
        <p>Built with PowerBlog</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </div>
    
    {{#GoogleAnalyticsID}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{GoogleAnalyticsID}}', 'auto');
      ga('send', 'pageview');
    </script>
    {{/GoogleAnalyticsID}}
  </body>
</html>